body{
    background: rgb(105, 103, 103);
    padding: 0 100px 100px 100px;
}

header{ 
    background: rgb(192, 190, 190);
    padding: 40px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

nav {
    background: rgb(204, 201, 201);
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

#left {
    background-color: rgb(226, 221, 221);
    width: 48%;
    float: left;
    text-align: center;
    height: 300px;
    margin-bottom: 20px;
    padding: 5px 5px 3px 4px;
}

#right{
    background-color: rgb(214, 211, 211);
    float: right;
    width: 48%;
    text-align: center;
    height: 310px;
    margin-bottom: 20;
}

article {
    background-color: rgb(90, 88, 88);
    padding: 20px;
    border: 5px;
}

h2{
    background-color: pink;
    height: 40px;
    margin-bottom: 5px;
}

#left-p {
    background-color: rgb(150, 62, 62);
    height: 40px;
    margin-top: 5px;
}

.middle {
    margin-top: 5px;
    
}

footer {
    clear: both;
    text-align: center;
    background-color: rgb(206, 199, 199);
    padding: 30px;
}